[Unit]
Description=Apache Kafka connect
Requires=kafkaconnect.service
After=kafkaconnect.service
[Service]
Type=simple
User={{ KAFKA_USER }}
Group={{ KAFKA_GROUP }}
ExecStart={{ BASE }}/bin/connect-standalone.sh {{ BASE }}/config/connect-standalone.properties {{ BASE }}/config/connect-file-source.properties /home/dojokafka/kafka/config/connect-file-sink.properties
[Install]
WantedBy=multi-user.target
